<body>
<template id="pg-TestArea">
  <style id="style-pg-TestArea">
    .pg-TestArea {
      height: 345px;
      border: 1px solid #ccc;
      margin: 0 0 10px;
    }
    .pg-TestArea.console {
      height: 545px;
    }
    .pg-TestArea.template {
      height: 667px;
    }
    .pg-TestArea.template.console {
      height: 867px;
    }
    .pg-TestArea > .controlArea {
      height: 22px;
      border-top: 1px solid #ccc;
      background-color: #f7f7f7;
    }
    .pg-TestArea > .controlArea .btn {
      border-radius: 0px;
      border: 1px solid #f7f7f7;
    }
    .pg-TestArea > .controlArea .btn.right {
      float: right;
    }
    .pg-TestArea .splitter-title {
      background-color: #f7f7f7;
      border-bottom: 1px solid #ccc;
      height: 20px;
      padding-left: 5px;
    }
    .pg-TestArea .brui-Splitter-Layout.code,
    .pg-TestArea .brui-Splitter-Layout.template {
      height: calc(100% - 23px);
    }
    .pg-TestArea.template .brui-Splitter-Layout.template .brui-Splitter-Layout.code {
      height: calc(100% - 0px);
    }
    .pg-TestArea.console .brui-Splitter-Layout.code,
    .pg-TestArea.console .brui-Splitter-Layout.template {
      height: calc(100% - 223px);
    }
    /*
    .pg-TestArea.template.console .brui-Splitter-Layout.template .brui-Splitter-Layout.code {
      height: calc(100% - 200px);
    }
    */
  </style>
  ##
  var imports = data.imports;
  var template = data.template;
  var hasTemplate = !!template;
  var code = data.code;
  var type = data.type;
  var showConsole = data.showConsole || false;
  var autoReflash = true;

  var runCodeArea = tmpl.pg.CodeMirrorArea({
    value: code,
    changeEvent: function(cMirror) {
      if (autoReflash) renderingArea.reflashCode({code: cMirror.getValue(), type: type});
    }
  });
  var renderingArea = tmpl.pg.RenderingArea({imports: imports, code: code, type: type, template: template});
  var consoleArea = tmpl.pg.ConsoleArea({show: showConsole});

  var codeSpliteArea = tmpl.brui.SplitterLayout({
    class: 'code',
    direction: '',
    items: [[tmpl.br.Div({class: 'splitter-title', content: 'Run Code'}), runCodeArea], [tmpl.br.Div({class: 'splitter-title', content: 'Result'}), renderingArea]]
  });
  
  var templateSpliteArea, templateCodeArea = null;
  if (hasTemplate) {
    templateCodeArea = tmpl.pg.CodeMirrorArea({
      value: template,
      changeEvent: function(cMirror) {
        if (autoReflash) renderingArea.reflashCode({template: cMirror.getValue(), type: type});
      }
    });
    templateSpliteArea = tmpl.brui.SplitterLayout({
      class: 'template',
      direction: 'vertical',
      items: [[tmpl.br.Div({class: 'splitter-title', content: 'Template'}), templateCodeArea], codeSpliteArea]
    });
  }
  ##
  <div class="pg-TestArea ##=hasTemplate ? 'template' : ''## ##=showConsole ? 'console' : ''##">
    ##%templateSpliteArea || codeSpliteArea##
    <div class="controlArea">
      ##%tmpl.bs.Button({label: 'AUTO REFLASH', icon: 'refresh', styleClass: 'xs ' + (autoReflash ? 'btn-success' : ''), event: function(e, edata, tmplElem) {
        autoReflash = !autoReflash;
        tmplElem.classList[autoReflash ? 'add' : 'remove']('btn-success');
      }})##
      ##%tmpl.bs.Button({label: 'CODE RESET', icon: 'repeat', styleClass: 'xs', event: function() {
        runCodeArea.codeMirror.setValue(code);
      }})##
      ##%tmpl.bs.Button({label: 'RUN', icon: 'play', styleClass: 'xs', event: function() {
        renderingArea.reflashCode({template: templateCodeArea ? templateCodeArea.codeMirror.getValue() : null, code: runCodeArea.codeMirror.getValue()});
      }})##
      ##%tmpl.bs.Button({label: 'CONSOLE', icon: '', styleClass: 'xs right ' + (showConsole ? 'btn-info' : ''), event: function(e, edata, tmplElem) {
        showConsole = !showConsole;
        consoleArea.show(showConsole);
        tmplScope.element.classList[showConsole ? 'add' : 'remove']('console');
        tmplElem.classList[showConsole ? 'add' : 'remove']('btn-info');
      }})##
    </div>
    ##%consoleArea##
  </div>
</template>

<template id="pg-Component-PlayGround">
  <style id="style-pg-Component-PlayGround">
    .pg-Component-PlayGround {
      height: 200px;
      border: 1px solid #ccc;
      margin: 10px 0 10px 0;
    }
    .pg-Component-PlayGround .renderingArea {
      width: 200px;
      height: 100%;
      float: left;
    }
    .pg-Component-PlayGround .renderingArea .pg-Rendering-Area {
      height: calc(100% - 22px);
      padding: 10px 20px;
    }
    .pg-Component-PlayGround .runCodeArea {
      width: calc(100% - 201px);
      height: 100%;
      float: right;
      position: relative;
      border-left: 1px solid #ccc;
    }
    .pg-Component-PlayGround .runCodeArea .pg-CodeMirror-Area {

    }
    .pg-Component-PlayGround .runCodeAreaTitle {
      background-color: #f7f7f7;
      border-bottom: 1px solid #ccc;
      height: 20px;
      padding-left: 5px;
    }
    .pg-Component-PlayGround .runCodeAreaTitle .control {
      float: right;
    }
    .pg-Component-PlayGround .runCodeAreaTitle .btn {
      border-radius: 0px;
      padding: 0px 4px;
      vertical-align: top;
      height: 19px;
      margin-left: 10px;
    }
  </style>
  ##
  var imports = data.imports;
  var importTmpls = data.importTmpls;
  var code = data.code;
  var runCode = data.runCode;
  var type = data.type;
  
  var autoReflash = true;

  var toRenderingCode = function() {
    var realCode = "bridge.tmplTool.addTmplByUrl([" + 
        "'" + importTmpls.join("', '") + "'" +
      "], {loadScript: false, loadLink: false}, function() {" +
        (runCode || code) +
    "});";
    return realCode;
  }
  var renderingArea = tmpl.pg.RenderingArea({imports: imports, code: toRenderingCode(), type: type});
  var runCodeArea = tmpl.pg.CodeMirrorArea({
    value: code,
    changeEvent: function(cMirror) {
      if (autoReflash) renderingArea.reflashCode({code: cMirror.getValue(), type: type});
    }
  });
  ##
  <div class="pg-Component-PlayGround">
    <div class="renderingArea">##%renderingArea##</div>
    <div class="runCodeArea">
      <div class="runCodeAreaTitle">
        <span>Code</span>
        <div class="control">
          ##%tmpl.bs.Button({label: 'AUTO REFLASH', icon: 'refresh', styleClass: 'xs ' + (autoReflash ? 'btn-success' : ''), event: function(e, edata, tmplElem) {
            autoReflash = !autoReflash;
            tmplElem.classList[autoReflash ? 'add' : 'remove']('btn-success');
          }})##
        </div>
      </div>
      ##%runCodeArea##
    </div>
  </div>
</template>

<template id="pg-CodeMirror-Area">
  <style id="style-pg-CodeMirror-Area">
    .pg-CodeMirror-Area .CodeMirror {
      height: 100%;
    }
    .pg-CodeMirror-Area {
      position: absolute;
      top: 20px;
      bottom: 0;
      left: 0;
      right: 0;
    }
  </style>
  ##
  var value = data.value;
  var changeEvent = data.changeEvent;
  ##
  <div class="pg-CodeMirror-Area"></div>
  ###
  var element = this;
  setTimeout(function() {
    var codeMirror = tmplScope.codeMirror = CodeMirror(element, {
      value: value,
      lineNumbers: true,
      mode: "javascript"
    });
    if (changeEvent) codeMirror.on('change', changeEvent);
  });
  ##
</template>

<template id="pg-Rendering-Area">
  <style id="style-pg-Rendering-Area">
    .pg-Rendering-Area iframe {
      border: 0;
      width: 100%;
      height: calc(100% - 0px);
    }
  </style>
  ##
  var imports = data.imports || [];
  var template = data.template;
  var code = data.code;
  var type = data.type;
  var loadCount = 0;
  var hasImport = false;

  var importOptionTags = {
    css: function(item) {
      return tmpl.br.Tag(['link', {href: item.text, rel: "stylesheet", type: "text/css"}]);
    },
    css_text: function(item) {
      return tmpl.br.Tag(['style', {innerHTML: item.text, type: "text/css"}]);
    },
    js: function(item) {
      loadCount++;
      return tmpl.br.Tag(['script', {src: item.text, onload: function () {
        loadCount--;
        if (loadCount == 0) {
          execScript(code);
        }
      }}]);
    },
    import: function(item) {
      hasImport = true;
      loadCount++;
      return tmpl.br.Tag(['link', {href: item.text, rel: "import", onload: function () {
        loadCount--;
        if (loadCount == 0) {
          execScript(code);
        }
      }}]);
    },
    tmpl: function(item) {
      hasImport = true;
      loadCount++;
      return tmpl.br.Tag(['link', {href: '/tmpls?template_group_id=' + item.text, rel: "import", onload: function () {
        loadCount--;
        if (loadCount == 0) {
          setTimeout(function() {
            execScript(code);
          });
        }
      }}]);
    }
  }

  var createImportElement = function(item) {
    var tag = importOptionTags[item.type];
    return tag ? tag(item) : null;
  }

  var execScript = function(code) {
    if (!code) return;
    var head = iframeDocument.head;
    var body = iframeDocument.body;
    
    if (template && type == 'codeIsTemplate') {
      var oldTemplateSctipt = iframeDocument.getElementById('templateScript');
      if (oldTemplateSctipt) head.removeChild(oldTemplateSctipt);
      template.forEach(function(tmplData) {
        iframeWindow.bridge.tmplTool.addTmpl(tmplData.key, tmplData.code);
      });
      
    } else if (template && type == 'codeIsTemplateFile') {
      var oldTemplateSctipt = iframeDocument.getElementById('templateScript');
      if (oldTemplateSctipt) head.removeChild(oldTemplateSctipt);
      iframeWindow.bridge.tmplTool.addTmpls(template);
    }
    
    if (type == 'codeIsPage') {
      iframeDocument.write(code);
    } else {
      var oldRunSctipt = iframeDocument.getElementById('runScript');
      if (oldRunSctipt) head.removeChild(oldRunSctipt);
      try {
        var codeLine = Function('return (function() {/*' + code + ' */}).toString().match(/\\/\\*([^]*)\\*\\//)[1];')();
        var runScript = tmpl.br.Tag(['script', {id: 'runScript', innerHTML: 'try { ' + codeLine + ' } catch(e) { document.body.innerHTML= e; console.error(e); }'}]);
        head.appendChild(runScript.element);
      } catch(e) {
        body.innerHTML = e;
        console.error(e);
      }
    }
  }

  var iframeDocument, iframeWindow = null;
  var clearBody = function() {
    var body = iframeDocument.body;
    while (body.firstChild) {
      body.removeChild(body.firstChild);
    }
  }
  tmplScope.reflashCode = function(newCode) {
    if (!iframeDocument) return;
    clearBody();
    if (newCode.code) code = data.code = newCode.code;
    if (newCode.template) template = data.template = newCode.template;
    execScript(code);
  };
  ##
  <div class="pg-Rendering-Area">
    <iframe data-bridge-load="##:function(target) {
    setTimeout(function() {
      iframeWindow = tmplScope.window = target.contentWindow;

      if (target.contentDocument || target.contentWindow) {
        iframeDocument = target.contentDocument || target.contentWindow.document;
        var baseTag = tmpl.br.Tag(['base', {href: location.origin + location.pathname}]);
        iframeDocument.head.appendChild(baseTag.element);
        imports.forEach(function(obj) {
          var tag = createImportElement(obj);
          if (tag) iframeDocument.head.appendChild(tag.element);
        });
      }
    });

    }##" sandbox="allow-same-origin allow-scripts allow-modals"></iframe>
  </div>
</template>

<template id="pg-Console-Area">
  <style id="style-pg-Console-Area">
    .pg-Console-Area {
      border-top: 1px solid #ccc;
      background-color: #f7f7f7;
      height: 200px;
      clear: both;
    }
    .pg-Console-Area > .logArea {
      overflow-y: auto;
      height: calc(100% - 23px);
    }
    .pg-Console-Area > .logArea > p {
      margin: 0 0 4px;
    }
    .pg-Console-Area > .logArea > pre {
      font-size: 10px;
      border-width: 0px;
      margin: 0 0 1px;
      padding: 4px;
    }
    .pg-Console-Area > .logArea > .error {
      color: red;
    }
    .pg-Console-Area > .controlArea {
      height: 23px;
    }
    .pg-Console-Area > .controlArea .btn {
      border-radius: 0px;
      border: 1px solid #f7f7f7;
    }
    .pg-Console-Area > .controlArea .left {
      float: left;
    }
    .pg-Console-Area > .controlArea .right {
      float: right;
    }
    .pg-Console-Area > .controlArea .form-group {
      margin-bottom: 0px;
      width: calc(100% - 150px);
      display: inline-block;
      margin-left: 1px;
    }
    .pg-Console-Area > .controlArea .input-sm {
      height: 20px;
      padding: 2px 4px;
      font-size: 10px;
      line-height: 1;
      border-radius: 0px;
    }
  </style>
  ##
  var targetWindow = data.window;
  var show = !!data.show ? true : false;
  var autoScroll = data.autoScroll === false ? false : true;

  tmplScope.clear = function() {
    while (area.firstChild) { area.removeChild(area.firstChild); }
  }

  tmplScope.console = {
    log: function() {
      console.log.apply(null, arguments);
      for (var i = 0; i < arguments.length; i++) {
        var target = arguments[i];
        if (target == undefined) {
          htmlString = undefined;
        } else if (target instanceof Function) {
          htmlString = target.toString(); //.split("\n  ").join("\n");
        } else if (target.outerHTML) {
          htmlString = bridge.tmplTool.escapeHtml.escape(target.outerHTML);
        } else if (typeof target == 'object') {
          var seen = [];
          var replacer = function(key, value) {
            if (value != null && typeof value == "object") {
              if (seen.indexOf(value) >= 0) {
                return;
              }
              seen.push(value);
            }
            return value;
          };
        
          htmlString = (JSON && JSON.stringify ? JSON.stringify(target, replacer, 2) : target);
        } else {
          htmlString = target;
        }

        var ele = document.createElement('pre');
        ele.innerHTML = '> ' + (htmlString && htmlString.trim ? htmlString.trim() : htmlString);
        area.appendChild(ele);
        if (autoScroll) area.scrollTo(0, area.scrollHeight);
      }
    },
    error: function(error) {
      var ele = document.createElement('pre');
      ele.classList.add('error');
      ele.innerHTML = error.stack;
      area.appendChild(ele);
      if (autoScroll) area.scrollTo(0, area.scrollHeight);
    }
  }

  tmplScope.show = function(value) {
    tmplScope.element.style.display = value ? '' : 'none';
  }
  
  var consoleBackup = null;
  tmplScope.setWindow = function(target) {
    if (target) {
      var backup = {};
      for (var key in tmplScope.console) {
        backup[key] = target.console[key];
        target.console[key] = tmplScope.console[key];
      }
      consoleBackup = backup;
      targetWindow = target;
    }
  }

  tmplScope.setWindow(targetWindow);
  ##
  <div class="pg-Console-Area" style="##=show ? '' : 'display: none;'##">
    <div class="logArea" data-bridge-var="##:area##"></div>
    <div class="controlArea">
      ##%tmpl.bs.Field({class: '', size: 'sm', enterKeyEvent: function(e) {
        var command = e.target.value.trim();
        e.target.value = '';
        if (!command) return;
        /*
        var iframeDocument = targetWindow.document;
        var script = iframeDocument.getElementById('consoleScript');
        if (script) iframeDocument.head.removeChild(script);

        var consoleScript = tmpl.br.Tag(['script', {id: 'consoleScript', innerHTML: 'try { ' + command + ' } catch(error) { console.error(error); }'}]);
        iframeDocument.head.appendChild(consoleScript.element);
        */
        try {
          var result = targetWindow.eval(command);
        } catch(error) {
          targetWindow.console.error(error);
        }
        targetWindow.console.log(result);
        
      }})##
      ##%tmpl.bs.Button({label: 'AUTO SCROLL', styleClass: 'xs right '+ (autoScroll ? 'btn-success' : ''), event: function(e, edata, tmplElem) {
        autoScroll = !autoScroll;
        tmplElem.classList[autoScroll ? 'add' : 'remove']('btn-success');
      }})##
      ##%tmpl.bs.Button({label: 'CLEAR', styleClass: 'xs right', event: function() {
        tmplScope.clear();
      }})##
    </div>
  </div>
</template>

</body>