<body>
  <template id="FabricFunction" data-bridge-load-script="true">
  ##
  window.MDL = {
    ripple: false,
    prop: function(props) {
      if (!props) return '';
      var propStrArray = [];
      Object.keys(props).forEach(function(key) {
        if (props[key]) propStrArray.push(key + '="' + props[key] + '"');
      });
      return propStrArray.join(' ');
    },
    attr: function(type, value) {
      if (!value || !type) return '';
      return type + '="' + value + '"';
    },
    is: function(value, returnValue) {
      return value ? returnValue : '';
    },
    options: function(prefix, options) {
      return options && options.length > 0 ? (prefix + options.join(' ' + prefix)) : '';
    },
    isElement: function(item) {
      if (!item) return false;
      return item instanceof Element || item.element;
    },
    isString: function(item) {
      if (!item && item !== '') return false;
      return typeof item === 'string' || item instanceof String;
    },
    isAppandAble: function(item) {
      if (!item) return false;
      return MDL.isElement(item) || MDL.isString(item);
    }
  }
  ##
</template>
  <template id="mdl-Badge">
  ##
  var tag = data.tag || 'div';
  var icon = data.icon;
  var overlap = data.overlap || false;
  var label = icon ? icon : data.label;
  var prop = data.prop;
  var options = data.options;
  ##
  &lt;##=tag## class="mdl-badge ##=MDL.is(icon, 'material-icons')## ##=MDL.options('mdl-badge--', options)## ##=data.class##" data-badge="##=data.badge##" ##=MDL.prop(prop)##&gt;##%label##&lt;/##=tag##&gt;
  ##
  /*
  tmplScope.afterReflash = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  */
  ##
</template>

  <template id="mdl-Button">
  ##
  var idProp = data.id ? 'id="' + data.id + '"' : null;
  var href = data.href;
  var type = href ? 'a' : 'button';
  var options = data.options;
  var ripple = data.ripple == undefined ? MDL.ripple : data.ripple;
  var icon = data.icon;
  var label = data.label;
  var prop = data.prop;
  var event = data.event;
  var disabled = data.disabled;
  ##
  &lt;##=type## ##=idProp## ##=href ? 'href="' + href + '"' : ''## class="mdl-button mdl-js-button ##=MDL.options('mdl-button--', options)## ##=MDL.is(ripple, 'mdl-js-ripple-effect')## ##=data.class##" ##=MDL.prop(prop)## data-bridge-event="##:event##" ##=disabled ? 'disabled' : ''##&gt;
    ##if (icon) {##<i class="material-icons" data-bridge-element-ref="##:iconVar##">##=icon##</i>##}##
    ##if (label) {##<span>##%label##</span>##}##
  &lt;/##=type##&gt;
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

  <template id="mdl-Card">
  ##
  var shadow = data.shadow;
  var title = data.title;
  var supportingText = data.supportingText;
  var actions = data.actions;
  var media = data.media;
  var menu = data.menu;
  var prop = data.prop;
  ##
  <div class="mdl-card ##=MDL.is(shadow, 'mdl-shadow--' + shadow + 'dp')## ##=data.class##">
    ##if (title) {##
    <div class="mdl-card__title ##=MDL.options('mdl-card--', title.options)##">
      &lt;##=title.type || 'h2'## class="##=title.class || title.class == '' ? title.class : 'mdl-card__title-text'##"&gt;##%(title.content || title)##&lt;/##=title.type || 'h2'##&gt;
    </div>
    ##}##
    ##if (media) {##
    <div class="mdl-card__media">
      &lt;img src="##=media.src##" ##=MDL.prop(prop)##&gt;
    </div>
    ##}##
    ##if (supportingText) {##
    <div class="mdl-card__supporting-text ##=MDL.options('mdl-card--', supportingText.options)##">
      ##%(supportingText.content || supportingText)##
    </div>
    ##}##
    ##if (actions) {##
    <div class="mdl-card__actions ##=MDL.options('mdl-card--', actions.options)##">
      ##(actions.items).forEach(function(item) {##
      ##%((!item || MDL.isAppandAble(item)) ? item : tmpl.mdl.Button(Object.assign({ripple: MDL.ripple}, item)))##
      ##})##
    </div>
    ##}##
    ##if (menu) {##
    <div class="mdl-card__menu ##=MDL.options('mdl-card--', menu.options)##">
      ##(menu.items).forEach(function(item) {##
      ##%(!item || MDL.isAppandAble(item)) ? item : tmpl.mdl.Button(Object.assign({ripple: MDL.ripple, options: ['icon']}, item))##
      ##})##
    </div>
    ##}##
  </div>
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

  <template id="mdl-Chip">
  ##
  var type = data.type || 'span';
  var options = data.options;
  var event = data.event;
  var img = data.img;
  var contact = data.contact;
  var contactClass = data.contactClass;
  var action = data.action;
  var label = data.label;
  tmplScope.setText = function(str) {
    chipText.innerHTML = str;
  };
  ##
  &lt;##=type## class="mdl-chip ##=MDL.options('mdl-chip--', options)## ##=data.class##" data-bridge-event="##:event##"&gt;
    ##if(img) {##<img class="mdl-chip__contact" src="##=img##"></img>##}##
    ##if(contact) {##<span class="mdl-chip__contact ##=contactClass##">##%contact##</span>##}##
    <span class="mdl-chip__text" data-bridge-element-ref="##:chipText##">##%label##</span>
    ##if(action) {##<button type="button" class="mdl-chip__action" data-bridge-event="##:action.event##"><i class="material-icons">##=action.icon##</i></button>##}##
  &lt;/##=type##&gt;
</template>

  <template id="mdl-Dialog">
  ##
  var title = data.title;
  var content = data.content;
  var actions = data.actions || {};
  var close = data.close;

  tmplScope.show = function() {
    tmplScope.element.show();
  }
  tmplScope.showModal = function() {
    tmplScope.element.showModal();
  }
  tmplScope.close = function(e, edata, tmplElem, scope) {
    if (close) close.apply(null, arguments);
    tmplScope.element.close();
  };
  ##
  <dialog class="mdl-dialog ##=data.class##">
    ##if (title) {##&lt;##=title.type || 'h4'## class="mdl-dialog__title"&gt;##%title.label || title##&lt;/##=title.type || 'h4'##&gt;##}##
    ##if (content) {##
    <div class="mdl-dialog__content">
      ##%content##
    </div>
    ##}##
    <div class="mdl-dialog__actions ##=MDL.options('mdl-dialog__actions--', actions.options)##">
      ##if (actions.items) {
        actions.items.forEach(function(item) {##
        ##%MDL.isAppandAble(item) ? item : tmpl.mdl.Button(Object.assign({ripple: MDL.ripple}, item))##
        ##})
      }##
      ##if (actions.agree) {##<button type="button" class="mdl-button" data-bridge-event="##:actions.agree.event##">##%actions.agree.label || actions.agree || 'Agree'##</button>##}##
      ##if (actions.disagree) {##
      <button type="button" class="mdl-button close" data-bridge-event="##:actions.disagree.event || function() {
        tmplScope.close.apply(null, arguments);
      }##">##%actions.disagree.label || actions.disagree || 'Disagree'##</button>
      ##} else if (actions.close != false) {##
      <button type="button" class="mdl-button close" data-bridge-event="##:function() {
        tmplScope.close.apply(null, arguments);
      }##">Close</button>
      ##}##
    </div>
  </dialog>
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
  ###
  if (window.dialogPolyfill) window.dialogPolyfill.registerDialog(this);
  ##
</template>

  <template id="mdl-Layout">
  ##
  var content = data.content;
  var header = data.header || {};
  var tabs = data.tabs;
  var drawer = data.drawer;
  //var title = data.title;
  var options = data.options;
  //var items = data.items || [];

  var ripple = data.ripple == undefined ? MDL.ripple : data.ripple;
  ##
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout ##=MDL.options('mdl-layout--', options)## ##=data.class##">
    ##if (header) {##
    <header class="mdl-layout__header ##=MDL.options('mdl-layout__header--', header.options)##">
      ##(header.items ? header.items : [header]).forEach(function(h) {
      tmplScope.title = function(title) {
        if (titleArea) titleArea.innerHTML = title;
      }
      ##
      <div class="mdl-layout__header-row">
        <!-- Title -->
        ##if (h.title) {##<div class="mdl-layout-title" data-bridge-element-ref="##:titleArea##">##%(h.title)##</div>##}##
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        ##if (h.navigationLinks) {## ##%tmpl.mdl.Navigation({items: h.navigationLinks})## ##}##
        ##if (h.navigation) {####%h.navigation####}##
        ##%h.items##
      </div>
      ##})##
      <!-- Tabs -->
      ##if(tabs) {##
      <div class="mdl-layout__tab-bar ##=MDL.is(ripple, 'mdl-js-ripple-effect')##">
        ##(tabs).forEach(function(tab) {##
        <a href="##=tab.id ? '#' + tab.id : 'javascript:void(0)'##" class="mdl-layout__tab ##=MDL.is(tab.active, 'is-active')##" data-bridge-event="##:tab.event##">##%tab.label##</a>
        ##})##
      </div>
      ##}##
    </header>
    ##}##
    ##if (drawer) {##
    <div class="mdl-layout__drawer">
      ##if (drawer.title) {##<span class="mdl-layout-title">##%(drawer.title)##</span>##}##
      ##if (drawer.navigationLinks) {## ##%tmpl.mdl.Navigation({items: drawer.navigationLinks})## ##}##
      ##if (drawer.navigation) {####%drawer.navigation####}##
      ##%drawer.items##
    </div>
    ##}##
    <main class="mdl-layout__content">
      ##if(tabs) {##
      ##(tabs).forEach(function(tab) {##
      <section class="mdl-layout__tab-panel ##=MDL.is(tab.active, 'is-active')##" id="##=tab.id##">
        <div class="page-content">##%tab.content##</div>
      </section>
      ##})##
      ##}##
      <div class="page-content" data-bridge-element-ref="##:contentArea##">##%content##</div>
    </main>
  </div>
  ##
  tmplScope.upgradeElement = function(delay) {
    setTimeout(function() {
      if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
    }, delay || 0);
  }
  tmplScope.afterAppendTo = function() {
    tmplScope.upgradeElement();
  }
  tmplScope.content = function(scope) {
    while (contentArea.firstChild) contentArea.removeChild(contentArea.firstChild);
    if (Array.isArray(scope)) {
      for (var i in scope) {
        contentArea.appendChild(scope[i].element || scope[i]);
      }
    } else {
      contentArea.appendChild(scope.element || scope);
    }
  }
  ##
</template>

  <template id="mdl-Navigation">
  ##
  var items = data.items || [];
  ##
  <nav class="mdl-navigation">
    ##items.forEach(function(item) {##
      ##if (MDL.isElement(item)) {##
    ##%item##
      ##} else {##
    <a class="mdl-navigation__link" href="##=item.href ? item.href : 'javascript:void(0)'##" data-bridge-event="##:item.event##">##if (item.label){##<i class="material-icons">##=item.icon##</i>##}####=item.label || item##</a>
      ##}##
    ##})##
  </nav>
</template>

  <template id="mdl-Grid">
  ##
  var gridOptions = data.gridOptions || [];
  var cellOptions = data.cellOptions || [];
  ##
  <div class="mdl-grid ##=MDL.options('mdl-grid--', gridOptions)## ##=data.class##">
    ##if (data.items) data.items.forEach(function(item) {
      if (!item) return;
    ##
    <div class="mdl-cell ##=MDL.options('mdl-cell--', cellOptions.concat(item.options || []))## ##=item.class##" data-bridge-event="##:item.event##">##%item ? item.content ? item.content : item : null##</div>
    ##});##
  </div>
</template>

  <template id="mdl-Tabs">
  ##
  var items = data.items || [];
  items = items.filter(Boolean);
  var _id = tmplScope._id;
  var ripple = data.ripple == undefined ? MDL.ripple : data.ripple;
  ##
  <div class="mdl-tabs mdl-js-tabs ##=MDL.is(ripple, 'mdl-js-ripple-effect')## ##=data.class##">
    <div class="mdl-tabs__tab-bar">
      ##items.forEach(function(tab, idx) {##
      <a href="##=(tab.id || _id + idx) ? '#' + (tab.id || _id + idx) : 'javascript:void(0)'##" class="mdl-tabs__tab ##=MDL.is(tab.active, 'is-active')##">##%tab.label##</a>
      ##})##
    </div>
    ##items.forEach(function(tab, idx) {##
    <div class="mdl-tabs__panel ##=MDL.is(tab.active, 'is-active')##" id="##=(tab.id || _id + idx)##">
      ##%tab.content##
    </div>
    ##})##
  </div>
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

  <template id="mdl-Mega-Footer">
  ##
  var top = data.top;
  var middle = data.middle;
  var bottom = data.bottom;
  ##
  <footer class="mdl-mega-footer ##=data.class##">
    ##if (top) {##
    <div class="mdl-mega-footer__top-section">
      ##%top.self##
      ##if (top.left) {##
      <div class="mdl-mega-footer__left-section">
        ##%top.left##
      </div>
      ##}##
      ##if (top.dropDown) {##
        ##top.dropDown.forEach(function(item) {##
        <div class="mdl-mega-footer__drop-down-section">
          ##if (item.heading) {##<h1 class="mdl-mega-footer__heading">##%item.heading##</h1>##}##
          ##%tmpl.mdl.FooterLinkList({type: 'mega', class: item.class, items: item.items})##
        </div>
        ##})##
      ##}##
      ##if (top.right) {##
      <div class="mdl-mega-footer__right-section">
        ##%top.right##
      </div>
      ##}##
    </div>
    ##}##
    ##if (middle) {##
    <div class="mdl-mega-footer__middle-section">
      ##%middle.self##
      ##if (middle.left) {##
      <div class="mdl-mega-footer__left-section">
        ##%middle.left##
      </div>
      ##}##
      ##if (middle.dropDown) {##
        ##middle.dropDown.forEach(function(item) {##
        <div class="mdl-mega-footer__drop-down-section">
          ##if (item.heading) {##<h1 class="mdl-mega-footer__heading">##%item.heading##</h1>##}##
          ##%tmpl.mdl.FooterLinkList({type: 'mega', class: item.class, items: item.items})##
        </div>
        ##})##
      ##}##
      ##if (middle.right) {##
      <div class="mdl-mega-footer__right-section">
        ##%middle.right##
      </div>
      ##}##
    </div>
    ##}##
    ##if (bottom) {##
    <div class="mdl-mega-footer__bottom-section">
      ##%bottom.self##
      ##if (bottom.left) {##
      <div class="mdl-mega-footer__left-section">
        ##%bottom.left##
      </div>
      ##}##
      ##if (bottom.dropDown) {##
        ##bottom.dropDown.forEach(function(item) {##
        <div class="mdl-mega-footer__drop-down-section">
          ##if (item.heading) {##<h1 class="mdl-mega-footer__heading">##%item.heading##</h1>##}##
          ##%tmpl.mdl.FooterLinkList({type: 'mega', class: item.class, items: item.items})##
        </div>
        ##})##
      ##}##
      ##if (bottom.right) {##
      <div class="mdl-mega-footer__right-section">
        ##%bottom.right##
      </div>
      ##}##
    </div>
    ##}##
  </footer>
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

  <template id="mdl-Mini-Footer">
  ##
  var self = data.self;
  var left = data.left;
  var right = data.right;
  ##
  <footer class="mdl-mini-footer ##=data.class##">
    ##%self##
    ##if (left) {##
    <div class="mdl-mini-footer__left-section">
      ##%left##
    </div>
    ##}##
    ##if (right) {##
    <div class="mdl-mini-footer__right-section">
      ##%right##
    </div>
    ##}##
  </footer>
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

  <template id="mdl-Logo">
  <div class="mdl-logo ##=data.class##">##%data.label##</div>
</template>

  <template id="mdl-Footer-Link-List">
  ##
  var type = data.type;
  var items = data.items;
  ##
  <ul class="mdl-##=type##-footer__link-list ##=data.class##">
    ##items.forEach(function(item) {##
    &lt;li ##=MDL.attr('class', item.liClass)##&gt;##if (item.element) {## ##%item## ##} else {## &lt;a ##=MDL.attr('href', item.href || '#')## ##=MDL.attr('class', item.class)## data-bridge-event="##:item.event##" &gt;##=item.label##&lt;/a&gt; ##}##&lt;/li&gt;
    ##})##
  </ul>
</template>

  <template id="mdl-List">
  ##
  var items = data.items || [];
  var itemStyles = ['', '', 'mdl-list__item--two-line', 'mdl-list__item--three-line'];
  var iconStyle = data.iconStyle || 'icon';
  ##
  <ul class="mdl-list ##=data.class##">
    ##items.forEach(function(item) {
        var lineCount = item.lineCount || data.lineCount;
    ##
    <li class="mdl-list__item ##=itemStyles[lineCount] || ''##" data-bridge-event="##:item.event::item##" style="##=item.event ? 'cursor: pointer;' : ''##">
      ##if (MDL.isElement(item)) {##
      ##%item##
      ##} else {##
      <span class="mdl-list__item-primary-content">
        ##if (item.icon) {##&lt;i class="material-icons mdl-list__item-##=item.iconStyle || iconStyle##" ##=MDL.prop(item.iconProp || data.iconProp)##&gt;##=item.icon##&lt;/i&gt;##}##
        ##if (!item.title && !item.body) {##
        ##%item##
        ##} else if (lineCount == 3) {##
        <span>##%item.title##</span>
        <span class="mdl-list__item-text-body">##%item.body##</span>
        ##} else if (lineCount == 2 || (item.title && item.body)) {##
        <span>##=item.title##</span>
        <span class="mdl-list__item-sub-title">##%item.body##</span>
        ##} else {##
        <span>##=item.title##</span>
        ##}##
      </span>
      ##if (item.action) {
        var action = item.action;
      ##
      ##if (MDL.isElement(action)) {##
      <span class="mdl-list__item-secondary-action">
        ##%action##
      </span>
      ##} else {##
      <span class="mdl-list__item-secondary-content">
        ##if (action.info) {##<span class="mdl-list__item-secondary-info">##%action.info##</span>##}##
        <a class="mdl-list__item-secondary-action ##=action.class##" href="##=action.href ? action.href : '#'##" data-bridge-event="##:action.event##"><i class="material-icons ##=action.iconClass##">##=action.icon##</i></a>
      </span>
      ##}##
      ##}##

      ##}##
    </li>
    ##})##
  </ul>
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

  <template id="mdl-Progress">
  ##
  var options = data.options;
  var styleProp = data.style ? 'style="' + data.style + '"' : '';


  var currentValue = 0;
  tmplScope.setProgress = function(val) {
    currentValue = val;
    tmplScope.element.MaterialProgress.setProgress(val);
  }
  tmplScope.getProgress = function(val) {
    return currentValue;
  }
  tmplScope.setBuffer = function(val) {
    tmplScope.element.MaterialProgress.setBuffer(val);
  }
  ##
  &lt;div class="mdl-progress mdl-js-progress ##=MDL.options('mdl-progress--', options)## ##=data.class##" ##=styleProp##&gt;</div>
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

  <template id="mdl-Spinner">
  ##
  var options = data.options;
  var active = data.active == undefined ? true : data.active;

  tmplScope.active = function() {
    return tmplScope.element.classList.contains('is-active');
  }
  tmplScope.setActive = function(val) {
    tmplScope.element.classList[val ? 'add' : 'remove']('is-active');
  }
  ##
  <div class="mdl-spinner mdl-js-spinner ##=MDL.options('mdl-spinner--', options)## ##=MDL.is(active, 'is-active')## ##=data.class##"></div>
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

  <template id="mdl-Menu">
  ##
  var id = data.id;
  var forValue = data.for;
  var options = data.options;
  var items = data.items || [];
  ##
  &lt;ul ##=MDL.attr('id', id)## class="mdl-menu mdl-js-menu mdl-js-ripple-effect ##=MDL.options('mdl-menu--', options)##" for="##=forValue##"&gt;
    ##items.forEach(function(item) {##
    &lt;li ##=MDL.attr('id', item.id)## class="mdl-menu__item ##=MDL.options('mdl-menu__item--', item.options)##" data-bridge-event="##:item.event##" ##=item.disabled ? 'disabled' : ''##&gt;##%item.label || item##</li>
    ##});##
  </ul>
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

  <template id="mdl-Slider">
  ##
  var min = data.min || 0;
  var max = data.max || 100;
  var value = data.value || 0;
  var step = data.step || 1;
  var event = data.event;

  tmplScope.value = function(val) {
    if (tmplScope.element.MaterialSlider) {
      tmplScope.element.MaterialSlider.change(val);
    } else {
      tmplScope.element.value = val;
    }
    return tmplScope.element.value;
  }
  tmplScope.min = function(val) {
    tmplScope.element.min = val;
    return tmplScope.element.min;
  }
  tmplScope.max = function(val) {
    tmplScope.element.max = val;
    return tmplScope.element.max;
  }
  tmplScope.step = function(val) {
    tmplScope.element.step = val;
    return tmplScope.element.step;
  }
  ##
  <input class="mdl-slider mdl-js-slider" type="range" min="##=min##" max="##=max##" value="##=value##" step="##=step##" data-bridge-event="##:event##">
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

  <template id="mdl-Snackbar">
  ##
  var base = data.base;
  tmplScope.showSnackbar = function(obj) {
    if (base) {
      tmplScope.element.MaterialSnackbar.showSnackbar(Object.assign({}, base, obj));
    } else {
      tmplScope.element.MaterialSnackbar.showSnackbar(obj);
    }
  };
  ##
  <div class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

  <template id="mdl-Toggle">
  ##
  var scope = data.scope;
  var type = data.type;
  var inputType = data.inputType || data.type;
  var inputClass = 'mdl-' + type + '__' + (data.inputClass || 'input');
  var label = data.label;
  var icon = data.icon;
  var name = data.name;
  var value = data.value;
  var checked = data.checked;
  var _id = data.id || tmplScope._id;
  var event = data.event;
  var prop = data.prop;

  scope.input = tmplScope.input = function() {
    return input;
  }
  scope.value = tmplScope.value = function() {
    return input.value;
  }
  scope.checked = tmplScope.checked = function() {
    return input.checked;
  }
  ##
  &lt;label class="mdl-##=type## mdl-js-##=type## mdl-js-ripple-effect ##=data.class##" ##=MDL.prop(prop)## for="##=_id##"&gt;
    &lt;input type="##=inputType##" id="##=_id##" ##=name ? 'name="' + name + '"' : ''## class="##=inputClass##" value="##=value##" ##=checked ? 'checked' : ''## data-bridge-element-ref="##:input##" data-bridge-event="##:event##"&gt;
    ##if (icon) {##<i class="mdl-icon-toggle__label material-icons">##=icon##</i>##}##
    ##if (label) {##<span class="mdl-##=type##__label">##=label##</span>##}##
  </label>
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

  <template id="mdl-Checkbox">
  ##%tmpl.mdl.Toggle(Object.assign(data, {type: 'checkbox', scope: tmplScope}))##
</template>

  <template id="mdl-Radio">
  ##%tmpl.mdl.Toggle(Object.assign(data, {type: 'radio', inputClass: 'button', scope: tmplScope}))##
</template>

  <template id="mdl-IconToggle">
  ##%tmpl.mdl.Toggle(Object.assign(data, {type: 'icon-toggle', inputType: data.inputType || 'checkbox', scope: tmplScope}))##
</template>

  <template id="mdl-Switch">
  ##%tmpl.mdl.Toggle(Object.assign(data, {type: 'switch', inputType: data.inputType || 'checkbox', scope: tmplScope}))##
</template>

  <template id="mdl-Table">
  ##
  var options = data.options;
  var shadow = data.shadow;
  var thead = data.thead;
  var tbody = data.tbody;
  var checkboxValueKey = data.checkboxValueKey;
  var rowItemKeys = data.rowItemKeys;
  //var theadOptions = data.theadOptions || [];
  var tbodyOptions = data.tbodyOptions || [];
  var items = tbody ? tbody.items ? tbody.items : tbody : data.items;
  var trEvent = data.trEvent || data.rowSelectEvent;
  var checkboxEvent = data.checkboxEvent;

  tmplScope.selectedItems = function(items) {
    if (!items) {
      var tbody = data.tbody;
      items = tbody ? tbody.items ? tbody.items : tbody : data.items;
    }
    var trs = tmplScope.element.querySelectorAll('tbody tr');
    var selectedItems = [];
    trs.forEach((e, i) => {
      if (e.classList.contains('is-selected')) selectedItems.push(items[i]);
    });
    return selectedItems;
  }
  ##
  &lt;table class="mdl-data-table mdl-js-data-table ##=MDL.options('mdl-data-table--', options)## ##=MDL.is(shadow, 'mdl-shadow--' + shadow + 'dp')## ##=data.class##"&gt;
    ##if (thead) {
      if (rowItemKeys && thead.constructor === Object) thead = rowItemKeys.map(key => thead[key]);
    ##
    &lt;thead&gt;
      &lt;tr&gt;
        ##thead.forEach(function(th) {
          var label = th ? (th.label || th) : '';
        ##
        &lt;th class="##=MDL.options('mdl-data-table__cell--', th ? th.options : null)## ##=MDL.options('mdl-data-table__header--', th ? th.options : null)##" ##=th && th.prop ? MDL.prop(th.prop): null##&gt;##%label##&lt;/th&gt;
        ##})##
      &lt;/tr&gt;
    &lt;/thead&gt;
    ##}##
    ##if (items) {##
    &lt;tbody&gt;
      ##items.forEach(function(tr) {##
      &lt;tr class="##=tr.isSelected ? 'is-selected' : ''##" data-bridge-event="##:trEvent::tr##"&gt;
        ##if (rowItemKeys) {##
          ##rowItemKeys.forEach(function(key, tdIdx) {
            var td = tr[key];
            var label = td ? (td.label || td) : '';
            var optionClass = MDL.options('mdl-data-table__cell--', td ? (td.options || tbodyOptions[tdIdx]) : '');
          ##
            &lt;td ##=(optionClass || td && td.class) ? 'class="' + optionClass + ' ' + data.class + '"' : ''## ##=td && td.prop ? MDL.prop(td.prop): null##&gt;##%label##&lt;/td&gt;
          ##});##
        ##} else {##
          ##tr.forEach(function(td, tdIdx) {
            var label = td ? (td.label || td) : '';
            // ##=MDL.is(typeof label === 'string' || label instanceof String, 'mdl-data-table__cell--non-numeric')##
          ##
          &lt;td class="##=MDL.options('mdl-data-table__cell--', td ? (td.options || tbodyOptions[tdIdx]) : '')##" ##=td && td.prop ? MDL.prop(td.prop): null##&gt;##%label##&lt;/td&gt;
          ##})##
        ##}##
      &lt;/tr&gt;
      ##})##
    &lt;/tbody&gt;
    ##}##
  &lt;/table&gt;
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
    var boxes = tmplScope.element.querySelectorAll('tbody .mdl-data-table__select') || [];
    for (var i = 0, length = boxes.length; i < length; i++) {
      var input = boxes[i].MaterialCheckbox.inputElement_;
      if (checkboxValueKey) input.value = items[i][checkboxValueKey];
      if (checkboxEvent) input.addEventListener('click', checkboxEvent);

      //boxes[i].MaterialCheckbox.inputElement_.onchange;
      //boxes[i].MaterialCheckbox.check();
      //boxes[i].MaterialCheckbox.updateClasses();
    }
  }
  ##
</template>

  <template id="mdl-Text-Field">
  <style id="style-mdl-Text-Field">
    .mdl-textfield__help {
      color: #757575;
      position: absolute;
      font-size: 12px;
      margin-top: 3px;
      display: block;
    }
  </style>
  ##
  var type = data.type || 'text';
  var name = data.name;
  var value = data.value;
  var prop = data.prop;
  var inputProp = data.inputProp;
  var icon = data.icon;
  var options = data.options;
  var label = data.label;
  var placeholder = data.placeholder ? 'placeholder="' + data.placeholder + '"' : '';
  var patternProp = data.pattern ? ('pattern="' + data.pattern + '"') : '';
  var errorMsg = data.errorMsg;
  var helpMsg = data.helpMsg;
  var rows = data.rows;
  var _id = data.id || tmplScope._id;
  var event = data.event;
  tmplScope.value = function(val) {
    if (val != undefined) {
      tmplScope.input.value = val;
      if (tmplScope.element.MaterialTextfield) tmplScope.element.MaterialTextfield.checkDirty();
    } else {
      return tmplScope.input.value;
    }
  }
  ##
  &lt;div class="mdl-textfield mdl-js-textfield ##=MDL.options('mdl-textfield--', options)## ##=data.class##" ##=MDL.prop(prop)##&gt;
    ##if ((options || []).indexOf('expandable') > -1) {##
      ##if (icon) {##
        ##if (MDL.isElement(icon)) {##
    ##%icon##
        ##} else {##
    <label class="mdl-button mdl-js-button mdl-button--icon" for="##=_id##">
      <i class="material-icons">##=icon##</i>
    </label>
        ##}##
      ##}##
    <div class="mdl-textfield__expandable-holder">
      &lt;input class="mdl-textfield__input" type="##=type##" id="##=_id##" name="##=name##" value="##=value##" ##=patternProp## data-bridge-event="##:event##" data-bridge-named-element="##:'input'##" ##=MDL.prop(inputProp)## ##=placeholder##&gt;
      <label class="mdl-textfield__label" for="##=_id##">##=label##</label>
    </div>
    ##} else {##
      ##if (rows && rows > 1) {##
    &lt;textarea class="mdl-textfield__input" rows="##=rows##" id="##=_id##" name="##=name##" ##=patternProp## data-bridge-event="##:event##" data-bridge-named-element="##:'input'##" ##=MDL.prop(inputProp)## ##=placeholder##&gt;##=value##&lt;/textarea&gt;
      ##} else {##
    &lt;input class="mdl-textfield__input" type="##=type##" ##=patternProp## id="##=_id##" name="##=name##" value="##=value##" data-bridge-event="##:event##" data-bridge-named-element="##:'input'##" ##=MDL.prop(inputProp)## ##=placeholder##&gt;
      ##}##
    ##if (label) {##<label class="mdl-textfield__label" for="##=_id##">##=label##</label>##}##
    ##if (helpMsg) {##<span class="mdl-textfield__help">##%helpMsg##</span>##}##
    ##if (errorMsg) {##<span class="mdl-textfield__error">##%errorMsg##</span>##}##
    ##}##
  </div>
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

  <template id="mdl-Tooltip">
  ##
  var options = data.options;
  var forProp = data.for;
  var content = data.content;
  ##
  <div class="mdl-tooltip ##=MDL.options('mdl-tooltip--', options)##" for="##=forProp##">##%content##</div>
  ##
  tmplScope.afterAppendTo = function() {
    if (typeof componentHandler !== 'undefined') componentHandler.upgradeElement(tmplScope.element);
  }
  ##
</template>

</body>

<script>
  if (bridge.tmplTool) {
    var HTMLImports = HTMLImports;
    bridge.tmplTool.addTmpls(
      HTMLImports && HTMLImports.importForElement ? HTMLImports.importForElement(document.currentScript) :
      (document._currentScript || document.currentScript).ownerDocument.body);
    console.log('bridge.mdl.components.html');
  }
</script>
