<!DOCTYPE html>
<html>
  <head>
      <title>Component for Material Design Lite</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.1/webcomponents-lite.js"></script>
      <script src="../../../bridge-js/js/bridge.template.0.8.js"></script>
      <link rel="import" href="bridge.mdl.components.html">
  </head>
  <body>
    
  </body>
  <script type="text/javascript">
    var layout = tmpl.mdl.Layout({});
    document.body.appendChild(layout.element);
  </script>
</html>